{% extends 'templates/base.html' %}
{% load static %}
{% block title %}
  <title> Accueil du blog</title>
  <link rel="stylesheet" href="{% static 'css/style11.css' %}">
{% endblock%}

{% block accueil%}
<a href="{% url 'blog-index' %}">Accueil</a>
{% endblock accueil%} 

{% block content %}

<style>
    .post-title .sup a a{
        background-color: brown;
    }
</style>
    <h1 style="font-weight: 900; font-size: 40px; padding-bottom: 60px; text-align:center">LE BLOG DE TOGOLA FOUSSENI</h1>
    {% for post in posts %}
        <article>
        <div class="post-title">
                <h2>{{ post.title }}</h2>   
                {% if post.thumbnail %}
                  <img src="{{ post.thumbnail.url }}" alt="L'image de l'article" style="width: 45%; margin-left: auto; margin-right:auto;">
                {% endif%}
                {% if request.user.is_authenticated %}
               
                <div>
                    <a href="{% url 'posts:delete' slug=post.slug %}">Supprimer</a>    
                </div>
                {% endif %}   
                <a href="{% url 'posts:edit' slug=post.slug %}">Éditer</a>
            
               
        </div>
            
            
            <h5 class="post-author">Publié par <i> {{ post.author_or_default }}</i> le {{ post.created_on|date:'j F Y' }}</h5>
            <p class="post-excerpt">{{ post.content|safe|truncatewords:50 }}</p>

            <form action="{% url 'posts:post' slug=post.slug %}">
                <button class="btn btn-submit"> Lire l'article </button>
            </form>
        </article>
    {% endfor %}

{% endblock %}